<td class="check">
  <%= form_for [task.project, task], remote: true do |f| %>
    <%= f.check_box :status %>
    <%= f.submit "Update" %>
  <% end %>
</td>
<td class="gap"></td>
  <% if task.status %>
    <td class="text">
      <strike><%= task.name %></strike>
    </td>
  <% else %>
    <% if task.overdue? %>
      <td class="text overdue">
        <%= task.name %></br>
        <div align="right"><%= date_time(task.dead_line) %><div>
      </td>
    <% else %>
      <td class="text">
        <%= task.name %></br>
        <div align="right"><%= date_time(task.dead_line) %><div>
      </td>
    <% end %>
  <% end %>
<td class="prior">
    <%= link_to ('<i class="glyphicon glyphicon-triangle-top"></i>').html_safe, project_up_priority_path(task.project_id, task.id), remote: true %>
    <%= link_to ('<i class="glyphicon glyphicon-triangle-bottom"></i>').html_safe, project_down_priority_path(task.project_id, task.id), remote: true %>
</td>
<td class="nav">
 | <%= link_to ('<i class="glyphicon glyphicon-pencil"></i>').html_safe, edit_project_task_path(task.project_id, task.id), remote: :true %> |
  <%= link_to ('<i class="glyphicon glyphicon-trash"></i>').html_safe, project_task_path(task.project_id, task.id), method: :delete, data: { confirm: "Are you sure?" }, remote: true  %>
</td>
