<div class="container <%= active_project(project.id) %>">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 box" >
      <div class="on-top head">
        <%= render "projects/head", project: project %>
      </div>
      <div class="form">
        <%= form_for [project, Task.new], remote: true do |f| %>
          <i class="glyphicon glyphicon-plus"></i>
          <%= f.text_field :name, placeholder: "Start typing here to create a task..." %>
          <%= f.submit 'Add Task', class: 'add-task-button' %>
        <% end %>
      </div>
      <div class="task-list">
        <table class="task <%= task_project(project.id) %>">
          <%= render project.tasks.order("priority") %></br>
        </table>
      </div>
    </div>
  </div>
</div>
